NEXT_PUBLIC_SUPABASE_URL=https://kutphlzojpyidtttscuw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__a2quqgxdSeTKLXvtu31qQ_qn86rLFa
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__a2quqgxdSeTKLXvtu31qQ_qn86rLFa
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_DEFAULT_STORE_SLUG=matriz
NEXT_PUBLIC_PIX_KEY=
NEXT_PUBLIC_PIX_HOLDER=Lanchonete SaaS
NEXT_PUBLIC_PIX_CITY=SAO LUIS
NEXT_PUBLIC_PIX_QR_CODE_URL=
PAYMENT_PROVIDER_NAME=pix_manual
PAYMENT_WEBHOOK_SECRET=
